body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

.category {
    margin-bottom: 20px;
}

.word-btn {
    padding: 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: inline-block; /* Align buttons in a row */
}

#tellStory, #randomStory, #reset {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    display: block; /* Stack buttons vertically */
    margin-left: auto;
    margin-right: auto;
}

#storyOutput {
    margin-top: 20px;
    font-size: 20px;
}
